.app-bar {
  align-items: center;
  background-color:var( --core-background-bg1-value);
  display: flex;
  gap: 24px;
  padding: 16px 0;
  position: relative;
 
}

.app-bar .frame {
  height: 74.54px;
  position: relative;
  width: 146px;
}

.app-bar .logo {
  height: 37px;
  position: relative;
  width: 146px;
}

.app-bar .img {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 79px;
}

.app-bar .WTT-2 {
  height: 19px;
  left: 82px;
  position: absolute;
  top: 12px;
  width: 64px;
}

.app-bar .vector {
  height: 23px;
  /* margin-bottom: -6622.50px;
  margin-right: -83.50px; */
  position: relative;
  width: 1px;
}

.app-bar .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.app-bar .WTT-FINALS-MEN-DOHA {
  color:var(--core-text-color1-value);
  font-family: "Inter-Regular", Helvetica;
  font-size: calc(var(--core-desktop-header-title-value-fontSize) * 1px);

  font-weight: var( --core-desktop-header-title-value-fontWeight);
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  margin: 0;
}

.app-bar .element-JANUARY-MAY {
  color:var( --core-highlight-value);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: calc(var( --core-desktop-header-time-value-fontSize) * 1px);
  font-weight: var(--core-desktop-header-time-value-fontWeight);
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
